<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Insurance Prediction</title>
    <!-- Corrected the CSS path -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Uber & Lyft Price Prediction</h1>

        <form method="post" action="/">
            <label for="distance">distance:</label>
                <input type="number" id="distance" name="distance" step="0.2" required>
            </div>
            <div>
                <label for="cab_type">category_name:</label>
                <select id="cab_type" name="cab_type">
                    <option value="Uber">Uber</option>
                    <option value="Lyft">Lyft</option>
                </select>
            </div>
            <div>
                <label for="'destination">destination:</label>
                <select id="destination" name="destination">
                    <option value="Financial District">Financial District</option>
                    <option value="Black Bay">Black Bay:</option>
                    <option value="Theatre District">Theatre District</option>
                    <option value="Haymarket Square">Haymarket Square</option>
                    <option value="Boston University">Boston University</option>
                    <option value="Fenway">Fenway</option>
                    <option value="Northeastern University">'Northeastern University</option>
                    <option value="North End">North End</option>
                    <option value="South Station">South Station</option>
                    <option value="North Station">North Station</option>
                    <option value="West End">West End</option>
                    <option value="Beacon Hill">Beacon Hill</option>
                </select>
            </div>
            <div>
                <label for="source">source:</label>
                <select id="source" name="source">
                    <option value="Financial District">Financial District</option>
                    <option value="Black Bay">Black Bay:</option>
                    <option value="Theatre District">Theatre District</option>
                    <option value="Haymarket Square">Haymarket Square</option>
                    <option value="Boston University">Boston University</option>
                    <option value="Fenway">Fenway</option>
                    <option value="Northeastern University">'Northeastern University</option>
                    <option value="North End">North End</option>
                    <option value="South Station">South Station</option>
                    <option value="North Station">North Station</option>
                    <option value="West End">West End</option>
                    <option value="Beacon Hill">Beacon Hill</option>
                </select>
            </div>
            <div>
                <label for="surge_multiplier">surge_multiplier:</label>
                <input type="number" id="surge_multiplier" name="surge_multiplier" required>
            </div>
            <div>
                <label for="name">name:</label>
                <select id="name" name="name">
                    <option value="Shared">Shared</option>
                    <option value="Lux">Lux</option>
                    <option value="Lyft">Lyft</option>
                    <option value="Lux Black XL">Lux Black XL</option>
                    <option value="Lyft XL">Lyft XL</option>
                    <option value="Lux Black">Lux Black</option>
                    <option value="Uber XL">Uber XL</option>
                    <option value="Black">Black</option>
                    <option value="Uber X">Uber X</option>
                    <option value="WAV">WAV</option>
                    <option value="Black SUV">Black SUV</option>
                    <option value="UberPool">UberPool</option>
                </select>
            </div>
            <div>
                <label for="Period_Of_Time">Period_Of_Time:</label>
                <select id="Period_Of_Time" name="Period_Of_Time">
                    <option value="Early Morning">Early Morning</option>
                    <option value="Morning">Morning</option>
                    <option value="Noon">Noon</option>
                    <option value="Evening">Evening</option>
                    <option value="Night">Night</option>
                    <option value="Late Night">Late Night</option>
                </select>
            <button type="submit">Predict</button>
        </form>

        <form method="get" action="/train">
            <button type="submit" class="train-button">Train Model</button>
        </form>

        {% if context %}
            <div class="result">
                <h2>Result: {{ context }}</h2>
            </div>
        {% endif %}
    </div>
</body>
</html>